[Unit]
Description=Tableau Silent Install in Docker

[Service]
Type=oneshot
ExecStart=/opt/tableau/docker_build/tableau-init-configure.sh
RemainAfterExit=True

[Install]
WantedBy=multi-user.target

